.prevent-select {
    -webkit-user-select: none;
    /* Safari */

    -ms-user-select: none;
    /* IE 10 and IE 11 */

    user-select: none;
    /* Standard syntax */
}

@media (max-width: 767px) {
    #header {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 768px) {
    #header {
        width: 80%;
        margin: auto;
    }
}

.questionnaire-choice {
    white-space: normal;
}