<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cropped-c2c-32x32.jpg') }}">
    <title>UC Irvine Consent 2 Contact - Retention Study</title>
</head>

<body>
    <div class="container-fluid prevent-select">
        <div class="row pt-3">
            <div class="col">
                <a href="https://c2c.uci.edu/" target="_blank"><img src="{{ url_for('static', filename='UCI_C2CRegistry.png') }}" alt="UCI Consent 2 Contact Registry logo" width="324" height="47" style="float:right;" class="my-4"></a>
            </div>
            <div class="col" style="text-align: left;">
                <h1>Retention Study</h1>
                <h5><i>Testing retention strategies in recruitment registries</i></h2>
            </div>
        </div>
        <hr>{% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <footer>
        <div class="container-fluid text-center">
            <hr>{% if request.endpoint == "videos" %}
            <p>Please email <a href="mailto:mwitbrac@uci.edu">mwitbrac@uci.edu</a> if you require assistance.</p>
            {% endif %}
            <p><i>© 2023 UCI MIND</i></p>
            <a href="https://mind.uci.edu/" target="_blank"><img src="{{ url_for('static', filename='UCI16_MIND_Full_ctr_blue.png') }}" alt="UCI MIND logo" width="278" height="58"></a><br />
            <p><a href="https://mind.uci.edu/" target="_blank">https://mind.uci.edu/</a></p>
            <p><a href="https://c2c.uci.edu/" target="_blank">https://c2c.uci.edu/</a></p>
        </div>
    </footer>
</body>

</html>
