<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('main_blueprint.static', filename='bootstrap.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cropped-c2c-32x32.jpg') }}">
    <title>C2C - DCV</title>
</head>

<body>
    <div class="container-fluid">
        <h1 class="display-1"><a href="{{ url_for('main_blueprint.index')}}" style="text-decoration: none;">C2C -
                DCV</a></h1>
        <hr>{% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('main_blueprint.static', filename='bootstrap.bundle.min.js') }}"></script>
    <footer style="text-align: center;">
        <div class="container-fluid">
            <hr>
            <p><i>© 2023 UCI MIND</i></p>
            <p><a href="https://mind.uci.edu/" target="_blank">mind.uci.edu</a></p>
            <p><a href="https://c2c.uci.edu/" target="_blank">c2c.uci.edu</a></p>
        </div>
    </footer>
</body>

</html>