{% extends '_base.html' %}
{% block content %}

<div class="container text-center">
    {% if error_message %}
    <div class="alert alert-warning d-flex justify-content-between">
        {{ error_message }}<a href="{{ url_for('index') }}"
            style="text-decoration: none; color: #604f03;font-weight: bolder;">×</a>
    </div>{% endif %}
    {% if info_message %}<div class="alert alert-info d-flex justify-content-between">
        {{ info_message }}<a href="{{ url_for('index') }}"
            style="text-decoration: none; color: #294f60;font-weight: bolder;">×</a>
    </div>{% endif %}

    <p class="pb-1">Welcome to the C2C Retention video survey!</p>
    <form action="{{ url_for('check') }}" method="POST">
        <label for="key" class="pb-2">We weren't able to automatically detect an <b>access key</b>.<br />You can still take the survey by entering your <b>access key</b> in the box below.</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" style="text-align: center;" id="key" name="key"
                placeholder="Your survey access key">
        </div>
        <div class="pt-4 d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg" id="submit_button">Submit</button>
            <button hidden type="button" class="btn btn-primary btn-lg disabled" id="loading_button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading....
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var submit_button = document.getElementById('submit_button');
    var loading_button = document.getElementById('loading_button');
    submit_button.onclick = function disable_submit() {
        submit_button.setAttribute('hidden', '');
        loading_button.removeAttribute('hidden', '');
    }
</script>
{% endblock %}