{% extends '_base.html' %}
{% block content %}

<div class="container text-center">
    {% if key %}{# <p class="pb-1">[DEBUG] Your access key is: <b><code>{{ key }}</code></b> [DEBUG]</p> #}
    <h2>A Message from Dr. Grill</h2>
    <p><i>The video below repeats this information and describes what will come next.</i></p>
    <p>Hello, I'm Josh Grill, Principal Investigator for the UC Irvine Consent-to-Contact (C2C) Registry. Thank you for your enrollment and participation in this retention study as part of the Registry. The C2C has been successful in achieving its goal of supporting research at UCI by accelerating recruitment to a wide variety of studies. Yet, this goal will be fully maximized by improving the rates of retention and renewal of those enrolled in the registry.</p>
    <p>In this study, we will test whether you find specific retention video messages compelling.</p>
    <p>When you are ready, you can click "GET STARTED" and you will be taken to a new page with two video windows. You should watch each video and then select the one that, to you, provides the most compelling message to get you and others to renew your information annually in the C2C registry. After this first pair of videos, you will repeat the process with a new pair of videos. In total, you will watch 7 pairs of videos (ranging in length from 17 seconds to 37 seconds) and each time select the one that you find most compelling. After watching all pairs, we will ask you to complete a short survey. In total, we expect that completing this study will take less than 15 minutes. Participants will be entered in a raffle to select multiple winners of $100 Amazon gift cards.</p>
    <p>When you are ready, click "GET STARTED."</p>
    <div class="row">
        <div id="introVideo">
            <iframe title="vimeo-player" src="https://player.vimeo.com/video/884518624?h=efcd0e6e91" width="100%" height="360" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pt-4 d-grid gap-2 col-6 mx-auto">
        <a href="{{ url_for('videos', key=key, screen=1) }}" class="btn btn-primary btn-lg" id="submit_button">GET STARTED</a>
        <button  hidden type="button" class="btn btn-primary btn-lg disabled" id="loading_button">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading....
        </button>
    </div>
    {%endif%}
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript">
    var submit_button = document.getElementById('submit_button');
    var loading_button = document.getElementById('loading_button');
    submit_button.onclick = function disable_submit() {
        uploadVideoSelection();
        submit_button.setAttribute('hidden', '');
        loading_button.removeAttribute('hidden', '');
    }
</script>
<script src="{{ url_for('static', filename='intro.js') }}"></script>
{% endblock %}