{% extends '_base.html' %}
{% block content %}

<div>
    <form class="col-lg-6 offset-lg-3" id="outro_questionnaire" method="post">
        <p>To better understand how people enrolled in registries approach the decision whether to continue participating and what motivates them to renew their enrollment data, we ask you to answer these brief survey questions. For each question, please rate your level of agreement to the provided statement about renewing your information in the C2C.</p>
        {% for question in questions %}
        <div class="form-group px-4 py-4" style="outline: 1px dotted rgba(0, 0, 0, 0.25)">
            {% set name = "outro_q" + loop.index|string %}
            {% if loop.index <= 9 %}
            <p><b>{{loop.index}}) {{question}}</b></p>
                {% for option in agree_choices %}{% set id = name + "_option" + loop.index|string %}
                <label class="form-check-label pb-2">
                    <input class="form-check-input" type="radio" name="{{ name }}" id="{{ id }}" value="{{ loop.index }}" required>
                    <span class="questionnaire-choice">{{ option }}</span>
                </label>
                <br />
                {% endfor %}
            {% else %}
            <p class="pb-1"><b>{{loop.index}}) {{question}}</b></p>
                {% for option in final_question_choices %}{% set id = "check" + loop.index|string %}
                <label class="form-check-label pb-2">
                    <input class="form-check-input" type="radio" name="{{ name }}" id="{{ id }}" value="{{ loop.index }}" required>
                    <span class="questionnaire-choice">{{ option }}</span>
                </label>
                {% endfor %}
            {% endif %} 
        </div>
        {% endfor %}
        <div class="pt-3 d-grid gap-2 col-6 mx-auto">
            <button type="submit" name="send_it" class="btn btn-primary btn-lg" id="submit_button">Submit</button>
            <button hidden type="button" class="btn btn-primary btn-lg disabled" id="loading_button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading....
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    const form = document.getElementById('outro_questionnaire');
    const submit_button = document.getElementById('submit_button');
    const loading_button = document.getElementById('loading_button');
    function disable_submit(event) {
        submit_button.setAttribute('hidden', '');
        loading_button.removeAttribute('hidden', '');
    }
    form.addEventListener("submit", disable_submit);
</script>
{% endblock %}